<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pinhaha.mapper.AppAreaAgentMapper">

	<select id="seleProvinceAgent" resultType="com.pinhaha.pojo.AppAreaAgent">
		select * from app_area_agent where province_id=#{provinceId} and city_id=0
	</select>
	<select id="seleCityAgent" resultType="com.pinhaha.pojo.AppAreaAgent">
		select * from app_area_agent where province_id=#{provinceId} and city_id=#{cityId}
	</select>
	
</mapper>