<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pinhaha.mapper.AppCourseAfflineMapper">
	<select id="getAffCourseListByInsId" resultType="com.pinhaha.pojo.AppCourseAffline">
		select * from app_course_affline where deleted=0 and ins_id=#{ins_id} order by sort desc
	</select>
	
	<select id="getAffCourseById" resultType="com.pinhaha.pojo.AppCourseAffline">
		select * from app_course_affline where deleted=0 and id=#{id}
	</select>
</mapper>