<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pinhaha.mapper.AppCouponLogMapper">
	<select id="getTotalNumByUserId" resultType="java.lang.Integer">
		select sum(change_num) from app_coupon_log where user_id=#{userId}
	</select>
	
	<select id="getMyCouponBuy" resultType="com.pinhaha.pojo.AppCouponLog">
		select * from app_coupon_log where user_id=#{userId} and change_num >0 order by create_time desc
	</select>
	
	<select id="getMyCouponSend" resultType="java.util.HashMap">
		SELECT b.invite_code,a.change_num,a.create_time FROM (SELECT * FROM app_coupon_log WHERE user_id=#{userId} AND change_num >0) a 
		LEFT JOIN app_user b ON a.receive_user_id=b.id
		ORDER BY a.create_time DESC
	</select>
</mapper>