<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pinhaha.mapper.AppCourseChapterMapper">

	<select id="selectBYCourseId" resultType="com.pinhaha.pojo.AppCourseChapter">
		select * from app_course_chapter where course_id=#{courseId}
	</select>
</mapper>