<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pinhaha.mapper.AppCourseMapper">
	<select id="getCourseSortList" resultType="com.pinhaha.pojo.AppCourse">
		select * from app_course where end_time <![CDATA[>]]> now() and is_deleted=0 limit ${size}
	</select>
	
	<select id="selectBYName"  resultType="com.pinhaha.pojo.AppCourse">
		select * from app_course where  is_deleted=0 and tittle like '%${searchName}%'
	</select>
	
	<select id="getAllCourseByParam" parameterType="Map" resultType="com.pinhaha.pojo.AppCourse">
		select * from app_course 
		where is_deleted=0 and title like '%${courseName}%'
	</select>
 	
 	<select id="getAllNoLimit" resultType="AppCourse">
		select * from app_course where is_deleted=0
 	</select>
	
	<select id="getTeacher" resultType="com.pinhaha.pojo.AppTeacher">
		select * from app_teacher
	</select>
	
	<update id="deleteCourse">
		update app_course set is_deleted=1 where id=#{param1}
	</update>
	
	<select id="getcourse" parameterType="Int" resultType="com.pinhaha.pojo.AppCourse" >
		select * from app_course where id=#{param1}
	</select>
	
</mapper>