<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pinhaha.mapper.AppCategoryMapper">
	<update id="deleteCategory">
		update app_category set is_deleted=1 where id=#{param1}
	</update>
	
	<select id="getAllByParam" resultType="AppCategory">
		select * from app_category 
		<where>
			1=1
			<if test="name!=null and name!=''">
				and name like '%'+#{name}+'%'
			</if>
			and is_deleted=0 order by sort_index desc
		</where>
		
	</select>
	
	<select id="getCatesCourseNum" resultType="Int">
		SELECT COUNT(*) FROM app_category c
		INNER JOIN app_category_course cc ON c.id=cc.category_id
		INNER JOIN app_course dd ON cc.`course_id`=dd.id
		WHERE c.id=#{param1} AND dd.is_deleted=0
	</select>
	<select id="getCatesForDel" resultType="Int">
	SELECT COUNT(*) FROM app_category c
		WHERE c.is_deleted=0 AND c.level_tree LIKE '%,${id},%' OR c.level_tree LIKE '${id},%'
	</select>
	
	
	<insert id="insertCateCourse">
		insert into app_category_course (category_id,course_id) values(#{param1},#{param2}) 
	</insert>
	
	<delete id="delCateCourse">
		delete from app_category_course where course_id=#{param1}
	</delete>
	
	
	<select id="selectParentCa"  resultType="AppCategory">
		select * from app_category where parent_id=0 and is_deleted=0
	</select>
	
	<select id="selectChindrens" resultType="AppCategory">
		select * from app_category where parent_id=#{id} and is_deleted=0
	</select>
</mapper>