<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pinhaha.mapper.AppInsBillMapper">
	
	<select id="sumBill" resultType="string" parameterType="map" >
		   SELECT IFNULL(SUM(ii.munber_),'0.00') AS sumMm FROM ins_bill ii WHERE ii.ins_id_ = #{insId};
	</select>
	
	<select id="selByGetMId" resultType="com.pinhaha.pojo.AppInsBill" parameterType="map" >
		   SELECT * FROM ins_bill ii WHERE ii.mid_ = #{mId};
	</select>
	
</mapper>