<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pinhaha.mapper.AppSoldierApplyMapper">
	<select id="selectByUserId" resultType="com.pinhaha.pojo.AppSoldierApply">
		select * from app_soldier_apply where user_id=#{userId}
	</select>
	<select id="selectAllApply" resultType="com.pinhaha.pojo.AppSoldierApply">
		select * from app_soldier_apply where 1=1
		<if test="soldierNames!=null and soldierNames!=''">
			and real_name like '%${soldierNames}%'
		
		</if>
		order by id desc
	</select>
	
	<select id="selectAllApplyCount" resultType="int">
		select count(1) from app_soldier_apply where 1=1 
	</select>
</mapper>