<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pinhaha.mapper.AppUserAccountMapper">
	<update id="UserAccountGetMoney">
		update app_user_account set total_amount=total_amount+#{param1} where id=#{param2} and total_amount+#{param1}>=0
	</update>
	
	<update id="changeAccountByUserAndChangeMoney">
		update app_user_account set total_amount=total_amount + #{changeMoney},update_time=now()
		where (total_amount + #{changeMoney})>=0 and id=#{id} 
	</update>
	
	
	
	<select id="getBeforeAmount" resultType="com.pinhaha.pojo.AppUserAccount">
		select * from app_user_account where user_id=#{param1}
	</select>
	<select id="selectByUserId" resultType="com.pinhaha.pojo.AppUserAccount">
		select * from app_user_account where user_id=#{userId} 
	</select>
</mapper>