<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pinhaha.mapper.AppUserOrderAudingMapper">
	
	<select id="selectOrderAudingByOrderNo" resultType="com.pinhaha.pojo.AppUserOrderAuding">
		select * from app_user_order_auding where order_no=#{orderNo}
	</select>
	
	<select id="user_order_auding_list" resultType="map" parameterType="map">
	SELECT
	auo.*,
	mo.*, 
	au.user_name AS 'user_name',
	au.phone AS 'user_phone',
	au1.user_name AS 'invite_name',
	au1.phone AS 'invite_phone'
FROM
	`app_user_order_auding` auo
LEFT JOIN app_user au ON auo.user_id = au.id
LEFT JOIN app_user au1 ON auo.invite_id = au1.id
LEFT JOIN member_order mo ON mo.order_no = auo.order_no
order by auo.id desc
limit #{page},#{limit}
	</select>
	
	<select id="user_order_auding_list_size" resultType="int">
	SELECT
	count(*)
	
FROM
	`app_user_order_auding` auo
LEFT JOIN app_user au ON auo.user_id = au.id
LEFT JOIN app_user au1 ON auo.invite_id = au1.id
LEFT JOIN app_area_agent aa ON aa.user_id = au.id
LEFT JOIN app_area_agent aa1 ON aa1.user_id = au1.id
LEFT JOIN app_province ap ON ap.id = aa.province_id
LEFT JOIN app_province ap1 ON ap1.id = aa1.province_id
LEFT JOIN app_city ac ON ac.id = aa.city_id
LEFT JOIN app_city ac1 ON ac1.id = aa1.city_id
LEFT JOIN member_order mo ON mo.order_no = auo.order_no
	</select>
	
	<update id = "up_user_order_auding" parameterType="map">
		UPDATE app_user_order_auding
SET auding_type = #{auding_type}
WHERE
	id = #{id};
	</update>
	
	

</mapper>