<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pinhaha.mapper.AppVoucherMoneyMapper">
	
	<select id="getVouchermoneyCourseUser" resultType="map" parameterType="map" >
		SELECT
			*
		FROM
			app_voucher_money avm
		LEFT JOIN app_course_affline aca ON aca.id = avm.course_id
		LEFT JOIN app_user au ON au.id = avm.user_id
		WHERE 1=1
		AND avm.ins_id = #{ins_id}
		<if test="user_name!=null and user_name!=''">
			AND au.user_name LIKE CONCAT('%','${user_name}','%')
		</if>
		<if test="title!=null and title!=''">
			AND aca.title LIKE CONCAT('%','${title}','%')
		</if>
		
	</select>
	
</mapper>