<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pinhaha.mapper.InstructionGetMoneyMapper">

	<select id="getVoucherMoneyApply" resultType="InstructionGetMoney">
		select * from instruction_get_money m
		left join app_instruction u on u.id=m.ins_id
		where 1=1
			<if test="is_pay!=2">
				and m.is_pay=#{is_pay}
			</if>
			<if test="get_way!=0">
				and m.get_way=#{get_way}
			</if>
			<if test="ins_name!=null and ins_name!=''">
				and u.ins_name=#{ins_name}
			</if>
			<if test="order_sn!=null and order_sn!=''">
				and order_sn=#{order_sn}
			</if>
	</select>
	
	<update id="updateGetVoucherMoney">
		update instruction_get_money set is_pay=#{param1},order_sn=#{param2}
		where id=#{param3} and is_pay=0
	</update>
	
	
</mapper>