<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pinhaha.mapper.MemberUserMapper">
  
<select id="member_user_all" resultType="map" parameterType="map">
  SELECT
	*,ac.id AS 'city_id1',ac.`name` AS city_name1,ap.`name` AS province_name1 ,ap.id AS 'province_id1'
FROM
	app_user au
LEFT JOIN member_level ml ON au.member_level_id = ml.id
LEFT JOIN app_area_agent aaa ON aaa.user_id = au.id
LEFT JOIN app_province ap ON ap.id = aaa.province_id
LEFT JOIN app_city ac ON ac.id = aaa.city_id
WHERE 1=1 

<!-- 会员名 -->
<if test="user_name != null">
AND au.user_name = #{user_name}
</if>
<!-- 手机号 -->
<if test="phone != null">
AND au.phone = #{phone}
</if>
<!-- 会员等级名 -->
<if test="member_name != null">
AND ml.member_name = #{member_name}
</if>
ORDER BY au.id asc
<!-- page -->
<if test="page != null">
limit #{page},#{limit}
</if>
</select>

<select id="member_user_all_count" resultType="int" parameterType="map">
  SELECT
	count(*)
FROM
	app_user au
LEFT JOIN member_level ml
ON au.member_level_id = ml.id
WHERE 1=1 
<!-- 会员等级名 -->
<if test="member_name != null">
AND ml.member_name = #{member_name}
</if>
</select>

<select id="can_add_province" resultType="map">
SELECT
	*
FROM
	app_province ap
WHERE
	ap.id NOT IN (
		SELECT
			province_id
		FROM
			`app_area_agent` aa
		WHERE
			aa.city_id = 0
	)
</select>

<select id="can_add_city" resultType="map">
SELECT
	*,ap.name AS 'province_name'
FROM
	app_city ac
LEFT JOIN app_province ap ON ac.province_id = ap.id
WHERE
	NOT EXISTS (
		SELECT
			*
		FROM
			`app_area_agent` aa
		WHERE
			aa.city_id = ac.id
		AND aa.city_id != 0
	)
</select>

<update id="up_province" parameterType="map" >
UPDATE app_area_agent aa
SET aa.province_id = #{new_province_id}
WHERE
	aa.province_id = #{province_id1}
</update>

<insert id="add_app_area_agent" useGeneratedKeys="true" parameterType="map">
INSERT INTO app_area_agent (
	province_id,
	city_id,
	user_id,
	create_time,
	update_time
)
VALUES
	(
		#{province_id},
		#{city_id},
		#{user_id},
		now(),
		now()
	)
</insert>
</mapper>
