<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pinhaha.mapper.MemberLevelOpenMapper">
	<select id="selectCountByUseInviteMember" resultType="java.lang.Integer">
		select count(1) from member_level_open where user_id=#{userId} 
		and invite_user_id=#{inviteUserId} and member_id=#{memberId} and invite_member_id=#{inviteMemberId}
	</select>
</mapper>