<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pinhaha.mapper.UserTokenMapper">
	<select id="selectByToken" resultType="com.pinhaha.pojo.UserToken">
		select * from user_token where token=#{token}
	</select>
	<select id="selectByUserId" resultType="com.pinhaha.pojo.UserToken">
		select * from user_token where user_id=#{userId}
	</select>
</mapper>