<html>
<head>
    <meta charset="utf-8">
    <title>后台登录</title>
    <meta name="author" content="DeathGhost">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta http-equiv="Access-Control-Allow-Origin" content="*">
	<meta http-equiv="Expires" content="0">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Cache-control" content="no-cache">
	<meta http-equiv="Cache" content="no-cache">
    <!-- loading.css -->
    <link rel="stylesheet" type="text/css" th:href="@{{path}/page/login/css/dialog.css(path=${contextPath})}">
    <link rel="stylesheet" type="text/css" th:href="@{{path}/page/login/css/style.css(path=${contextPath})}">
    <style>
        body {
            height: 100%;
            background: #16a085;
            overflow: hidden;
        }

        canvas {
            z-index: -1;
            position: absolute;
        }
    </style>
    <script th:src="@{{path}/jq/jquery-1.8.3.min.js(path=${contextPath})}"></script>
    <!-- loading.js -->
    <script th:src="@{{path}/page/login/js/zepto.min.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/page/login/js/dialog.min.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/page/login/js/Particleground.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/page/login/js/login.js(path=${contextPath})}"></script>
    <script>
        $(document).ready(function () {
            //粒子背景特效
            $('body').particleground({
                dotColor: '#5cbdaa',
                lineColor: '#5cbdaa'
            });
            //验证码
            createCode();
            //测试提交，对接程序删除即可
            $(".submit_btn").click(function () {
                location.href = "javascrpt:;"/*tpa=http://***index.html*/;
            });
        });
        
        function keyLogin(){
 			if (event.keyCode==13)  //回车键的键值为13
   				validate(); //调用登录按钮的登录事件
		}
    </script>
</head>
<body onkeydown="keyLogin()">
<canvas class="pg-canvas" width="1269" height="946"></canvas>
<dl class="admin_login" id="admin_login">
    <dt>
        <strong>Login</strong>
        
    </dt>
    <dd class="user_icon">
        <input type="text" placeholder="账号" class="login_txtbx" name="username" onkeyup="this.value=this.value.replace(/[^\w]/g,'');">
    </dd>
    <dd class="pwd_icon">
        <input type="password" placeholder="密码" class="login_txtbx" name="password" onkeyup="this.value=this.value.replace(/[^\w]/g,'');">
    </dd>
    <dd class="val_icon">
        <div class="checkcode">
            <input type="text" id="J_codetext" placeholder="输入验证码" maxlength="4" class="login_txtbx">
            <canvas class="J_codeimg" id="myCanvas" onclick="createCode()">对不起，您的浏览器不支持canvas，请下载最新版浏览器!</canvas>
        </div>
    </dd>
    <dd>
        <input type="button" value="登录" class="submit_btn"  onclick="validate();">
    </dd>
    <dd>
        <p>© 2018 拼哈哈后台</p>
    </dd>
</dl>
<!--  
<dl class="admin_login" id="register" style="display: none">
    <dt>
        <strong>注册</strong>
        
    </dt>
    <dd class="user_icon">
        <input type="text" placeholder="账号" class="login_txtbx" name="username" onkeyup="this.value=this.value.replace(/[^\w]/g,'');">
    </dd>
    <dd class="pwd_icon">
        <input type="password" placeholder="密码" class="login_txtbx" name="password" onkeyup="this.value=this.value.replace(/[^\w]/g,'');">
    </dd>
    <dd class="ema_icon">
        <input type="email" placeholder="手机号" class="login_txtbx email" id="email" name="email">
        <button class="sdss" onclick="email_code()" id="verificationCode">获取验证码</button>
    </dd>
    <dd class="code_icon">
        <input type="text" placeholder="邮箱验证码" class="login_txtbx" name="email_code"/>
    </dd>
    <dd class="tel_icon">
        <input type="number" placeholder="电话" class="login_txtbx" name="telephone" autofocus="autofocus" autocomplete="off" oninput="if(value.length>11)value=value.slice(0,11)"  onkeyup="this.value=this.value.replace(/\D/g,'')"/>
    </dd>
    <dd class="com_icon">
        <input type="text" placeholder="单位" class="login_txtbx" name="company" onkeyup="this.value=this.value.replace(/[^\w]/g,'');">
    </dd>
    <dd class="dep_icon">
        <input type="text" placeholder="部门" class="login_txtbx" name="department" onkeyup="this.value=this.value.replace(/[^\w]/g,'');">
    </dd>

    <dd>
        <input type="button" value="返回登陆" class="submit_btn"  onclick="login_switch('#register','#admin_login');">
        <input type="button" value="立即注册" class="submit_btn" onclick="register()" style="float: right;margin-right: 15px;">
    </dd>
    <dd>
        <p>© 2018 12306问答</p>
    </dd>
</dl>
-->
</body>
</html>