<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zy.dao.mapper.whCanpaiMapper">
	<select id="findAllCanPai" resultType="Waitnum">
		select * from waitnum 
	</select>
	<!-- 增加 
		如果使用序列自动生成，插入数据时，想同时获取当次的主键的值
	-->
	<insert id="addCanpai" parameterType="com.zy.bean.Waitnum">
		<!-- keyProperty:存放查询出的主键的属性名称 -->
		<selectKey keyProperty="id" resultType="int" order="BEFORE">
			select seq_waitnum.nextval from dual
		</selectKey>
		insert into waitnum values(#{id},default)
	</insert>
	
	<delete id="deleteCanpai" parameterType="int">
		delete from waitnum where id=#{id}
	</delete>
</mapper>